/*zone 开始*/
.zone{
    width: 100%;
    overflow: hidden;
}
.zone-box{
    margin:0 4.55%;
    /*background: url("../img/xmad_1.jpg") center center no-repeat;*/
    background-size: 100% 100%;
    position: relative;
}
.zone .left-zone{
    width: 19%;
    position: relative;
}
.left-zone .left-menu{
    height: 100%;
}
.left-menu li{
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: block;
}
.left-menu span{
    display:block;
    font-size: 15px;
    color: #ffffff;
    padding-left:10%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}
.left-menu p{
    height: 15px;
}
.left-menu span:hover {
    background: #ff6700
}
.go-btn{
    font-size: large;
    height: 100%;
    position: absolute;
    margin-right:10px;
}
.left-menu li:hover .left-div{
    display: block;
}
.left-div{
    height:101%;
    background: #ffffff;
    opacity: 1;
    border-top: 1px solid #e0e0e0;
    padding:0 0;
    margin-top: 0;
    position:absolute;
    left:100%;
    top:-1px;
    box-shadow: 0 1px 4px 0px rgba(0,0,0,0.15);
    overflow: hidden;
    z-index: 503;
    display: none;
}
.left-div-3{
    width: 795px;
}
.left-div ul{
    float: left;
    width: 265px;
    height: 16.6%;
}
.left-div li{
    height: 75px;
    background: #ffffff;
    overflow: hidden;
}
.left-div a{
    float: left;
}
.left-div-img-box{
    width: 71%;
    height: 75px;
    line-height:75px ;
    margin: 0;
}
.left-div-img-box:hover .left-div-title{
    color: #ff6700;
}
.left-div span.left-div-title{
    display: block;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    line-height: 40px;
    float: right;
    margin: 10px;
    margin-right: 40px;
}
.left-div-img{
    vertical-align: middle;
    margin-left: 5px;
}
.left-div a.buy-btn{
    display: block;
    float: left;
    width: 58px;
    height: 22px;
    color: #ff6700;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-top: 27px;
    margin-right: 0;
    border: 1px solid #ff6700;
}
.left-div a.buy-btn:hover{
    color: #ffffff;
    background: #ff6700;
}
.right-zone{
    position: absolute;
    right: 0;
    top: 0;
    width: 81%;
    height: 100%;
}
.img-box{
    position: relative;
    height: 100%;
    width: 100%;
}
.img-box a{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 993.25px;
    height: 462.81px;
}
.img-box img{
    /*float: left;*/
    display: block;
    height: 101%;
    width: 123.35%;
    z-index: -1;
    position: relative;
    left: -233px;
    bottom: 0;
}
.img-box a.selected {
    display: block;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    position: absolute;
    top: 45%;
    background: transparent;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 4px;
}
.prev-btn:hover,.next-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #ffffff;
}
.prev-btn{
    left: 0;
}
.next-btn{
    right: 0;
}
.btns{
    width: 158px;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.btns li{
    width: 6px;
    height: 6px;
    background:#232429;
    float: left;
    margin-right: 10px;
    border: 2px solid #65666b;
    border-radius: 50%;
    cursor: pointer;
}
.btns li:hover{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.btns li.selected{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
/*zone 结束*/
/*频道列表开始*/
.channel-box{
    margin-top: 14px;
    height: 170px;
    /*overflow:hidden*/
    margin-bottom: 26px;
}
.channel-list{
    width: 233px;
    height: 170px;
    background: #5f5750;
    margin-left: -1px;
    float: left;
}
.channel-list ul{
    overflow: hidden;
    padding: 3px 3px 0;
}
.channel-list li{
    width: 75px;
    height: 82px;
    float: left;
    position: relative;
}
.channel-list li:hover i{
    color: #ffffff;
}
.channel-list li:hover span{
    color: #ffffff;
}
.channel-list i{
    display: block;
    font-size: 24px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    margin-top: 18px;
}
.channel-list span{
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
}
.line-right{
    position: absolute;
    right: 0;
    top: 9px;
    width: 1px;
    height: 64px;
    background: #665e57;
}
.line-bottom{
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 64px;
    height: 1px;
    background: #665e57;
}
/*
.channel-list li.right::after{
    content: "";
    position: absolute;
    right: 0;
    top: 9px;
    width: 1px;
    height: 64px;
    background: red;
}
.channel-list li.bottom::before{
    content: "";
    width: 64px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 6px;
    background: red;
}
*/
.promo-list{
    width: 992px;
    height: 170px;
    float: left;
}
.promo-list a{
    float: left;
    margin-left: 15px;
}
.promo-list a:hover{
    box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.1);
}
.promo-list a.list-one{
    margin-left: 14px;
}
.promo-list img{
    width: 316px;
    height: 170px;
    display: block;
}
/*
.promo-list ul{
    overflow: hidden;
}
.promo-list li{
    display: block;
    float: left;
    width:316px;
    height:170px;
    margin-left: 14.67px;
    background: #00ff00;
}
*/
/*频道列表结束*/
/*明星单品列表开始*/
.star-box{
    position: relative;
    margin-bottom: 40px;
}
.star-title{
    font-size: 22px;
    color: #333;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.more-box{
    position: absolute;
    right: 0;
    top: 20px;
}
.more-box i{
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.more-box i.icon-active{
    color: #ff6700;
    border-color:#b0b0b0;
}
/*.more-box i.icon-active:hover{*/
    /*color: #ff6700;*/
    /*border-color:#b0b0b0;*/
/*}*/
.star-list{
    overflow: hidden;
}
.star-list ul{
    /*display: block;*/
    width:2500px ;
    height: 340px;
}
#left2{
    display: block;
}
#right2{
    display: none;
}
.star-list li{
    height:340px;
    width:234px;
    background: #fafafa;
    float: left;
    margin-right: 14px;
    text-align: center;
}
.star-list span{
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 39px;
}
.color-1{
    background:#ffac13;
}
.color-2{
    background:#83c44e ;
}
.color-3{
    background:#2196f3 ;
}
.color-4{
    background:#e53935 ;
}
.color-5{
    background:#00c0a5 ;
}
.star-img-box{
    display: block;
    text-align: center;
    width: 200px;
    height: 160px;
    margin: 0 auto;
    margin-bottom:22px;
}
.star-img{
    width: 160px;
    height: 160px;
}
.star-img-title {
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    color: #212121;
}
.star-img-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color:#b0b0b0 ;
}
.star-img-price{
    margin-top: 8px;
    display: block;
    color: #ff6700;
    text-align: center;
    font-size: 14px;
}
/*明星单品列表结束*/
/*家电开始*/
.content-box{
    background: #f5f5f5;
    padding-top: 60px;
}
.homeelec-box{
    position: relative;
}
.tab-btns{
    color: #424242;
    font-size: 16px;
    position: absolute;
    right: 0;
    top:17px;
}
.tab-btns li{
    float: left;
    margin-left: 30px;
    font-weight: 200;
}
.tab-btns .active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-bd{
    /*overflow: hidden;*/
    height: 620px;
}
.box-bd-left{
    float: left;
    display: block;
    width: 234px;
    height: 614px;
    position: relative;
}
.box-bd-left:hover{
    box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.1);;
    animation: run2 0.3s ease forwards;
}
.bd-left-img{
    display: block;
    width: 234px;
    height: 614px;
}
.box-bd-right{
    float: right;
    width: 992px;
}
.box-bd-right ul{
    display: none;
}
.box-bd-right .box-active{
    display: block;
}
.bd-item{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-left:14px ;
    text-align: center;
    position: relative;
}
.bd-item-top{
    margin-bottom: 14px;
}
.bd-item:hover{
    box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.1);
    animation: run2 0.3s ease forwards;
}
.bd-item-span1{
    display: block;
    height: 20px;
    line-height: 20px;
    width: 66px;
    font-size: 12px;
    color: #ffffff;
    background: #e53935;
    position: absolute;
    left: 50%;
    margin-left: -33px;
}
.bd-item-span2{
    display: block;
    height: 20px;
    line-height: 20px;
    width: 66px;
    font-size: 12px;
    color: #ffffff;
    background: #83c44e;
    position: absolute;
    left: 50%;
    margin-left: -33px;
}
.bd-item2{
    width: 234px;
    height: 143px;
    background: #ffffff;
    float: left;
    margin-left:14px ;
    text-align: center;
}
.bd-item2:hover{
    box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.1);
}
.bd-img-box{
    display: block;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 14px;
    margin-left:auto;
    margin-right: auto;
    width: 180px;
    height: 150px;
}
.bd-img{
    width: 150px;
    height: 150px;
}
.bd-img2{
    width: 80px;
    height: 80px;
    float: right;
    margin-top: 30px;
    margin-right: 15px;
}
.bd-title{
    color: #333;
    font-size: 14px;
    text-align: center;
}
.bd-title-top{
    position: relative;
    top: 40px;
}
.bd-dest{
    color: #b0b0b0;
    text-align: center;
    font-size: 12px;
}
.bd-price{
    color: #ff6700;
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
}
.bd-price-top{
    position: relative;
    top: 40px;
}
.bd-bot-box{
    width: 100%;
    height: 0;
    background: #ff6700;
    overflow: hidden;
    margin-top: 31px;
    position:relative;
    top:0;
    text-align: left;
}
.bd-item:hover .bd-bot-box{
    display: block;
    animation: show3 0.3s ease forwards;
}
.bd-review{
    display: block;
    padding: 8px 10px;
}
.bd-bot-comment{
    color: #ffffff;
    font-size: 12px;
    display: block;
}
.bd-bot-comment2{
    color:rgba(255,255,255,0.6);
    font-size: 12px;
}
@keyframes show3 {
    100%{
        height:80px;
        top:-80px
    }
}
@keyframes run2 {
    100%{
        top:-2px;
    }
}
/*家电结束*/
/*内容开始*/
.container-box{
    height: 480px;
}
.container-box .con-box-ul{
    /*overflow: hidden;*/
    display: block;
    height: 420px;
    width: 100%;
}
.container-box .con-item{
    width: 296px;
    height: 420px;
    background: #ffffff;
    margin-left: 14px;
    float: left;
    position: relative;
}
.container-box .con-item:hover{
    box-shadow: 0px 7px 15px 3px rgba(0,0,0,0.1);
    animation: run3 0.3s ease forwards;
}
.container-box .con-first-item{
    margin-left: 0;
}
.book{
    border-top: 1px solid #ffac13;
    color: #ffac13;
}
.miui{
    border-top: 1px solid #00c0a5;
    color:#00c0a5 ;
}
.game{
    border-top: 1px solid #2196f3;
    color:#2196f3 ;
}
.app{
    border-top: 1px solid #e53935;
    color: #e53935;
}
.con-item{
    overflow: hidden;
}
.con-item h2{
    margin: 45px 0 18px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}
.con-carousel{
    overflow: hidden;
}
.con-carousel ul{
    width: 888px;
    overflow: hidden;
}
.con-carousel li{
    float: left;
    width: 296px;
}
.con-carousel-no-active{
    display: none;
}
.con-carousel-active{
    display: block;
}
.con-name{
    display: block;
    font-size: 20px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}
.con-desc{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
    text-align: center;
    padding: 0 48px 10px;
}
.con-price{
    color: #333333;
    display: block;
    font-size: 14px;
    text-align: center;
}
.con-pic{
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 60px;
}
.con-btn-box{
    /*text-align: center;*/
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -56px;
}
.con-btn-box li{
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
}
.con-btn-box span{
    width: 6px;
    height: 6px;
    border-radius:50%;
    background: #b0b0b0;
    display: inline-block;
    border: 2px solid #ffffff;
}
/*.btn-active{*/
    /*display: block;*/
/*}*/
.btn-active span{
    background: #ffffff;
    border: 2px solid #ff6700;
}
.con-prev-btn,.con-next-btn{
    width: 30px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    background: #ffffff;
    color: #ffffff;
    position: absolute;
    top: 50%;
    font-weight: bold;
}
.container-box .con-item:hover .con-prev-btn{
    background: #e0e0e0;
}
.container-box .con-item:hover .con-next-btn{
    background: #e0e0e0;
}
.con-prev-btn:hover,.con-next-btn:hover{
    cursor: pointer;
}
.con-prev-btn{
    left:0;
}
.con-next-btn{
    right:0;
}
@keyframes run3 {
    100%{
        top:-3px;
    }
}
/*内容结束*/
/*footer开始*/
.footer{
    background: #ffffff;
}
.list-service{
    overflow: hidden;
    padding: 27px 0;
    border-bottom:1px solid #e0e0e0;
}
.list-service li{
    width: 243px;
    height: 50px;
    text-align: center;
    float: left;
    position: relative;
    border-bottom: 1px solid #b0b0b0 ;
}
.list-service li span{
    position: absolute;
    right: 0;
    top: 0px;
    width: 1px;
    height: 22px;
    background:#b0b0b0 ;
}
.list-service li a{
    color: #4f4e56;
}
.list-service li a:hover{
    color: #ff6700;
}
/*footer结束*/